
/* make touchable things big enough for fingers. */
a button {
    min-width: 48px;
    min-height: 48px;
}

.searchbar {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.searchtextbox {
    width: auto;
    background-color: yellow;
    font-size: x-large;
    min-width: 10px;
    padding-left: 5px;
    margin-left: 5px;
}

html, body {
    height: 100%;
    margin: 5px;
    padding: 5px;
}

#map {
    height: 60%;
    bottom: auto;
}

.marker-name {
    font-weight: bold;
}

.errors {
    color: red;
}

.clickable {
    cursor: pointer;
}
