
/* make touchable things big enough for fingers. */
a button {
    min-width: 48px;
    min-height: 48px;
}

.searchbar {
    display: flex;
    width: auto;
}

.searchtextbox {
    width:auto;
    background-color: yellow;
    font-size: x-large;
}

html, body {
    height: 100%;
    margin: 5px;
    padding: 5px;
}

#map {
    height: 60%;
    bottom: auto;
}

.marker-name {
    font-weight: bold;
}